# Dependencies
node_modules/

# Environment variables
.env

# SQLite Database files
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
database.sqlite

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
